* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* share styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* poppins-thin poppins-extralight poppins-light poppins-regular poppins-medium poppins-semibold poppins-bold poppins-extrabold poppins-black poppins-thin-italic poppins-extralight-italic poppins-light-italic poppins-regular-italic poppins-medium-italic poppins-semibold-italic poppins-bold-italic poppins-extrabold-italic poppins-black-italic */

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: #d2d2d2;
}

header {
  margin-bottom: 69px;
}
.container {
  width: 91%;
  max-width: 1240px;
  margin: 0 auto;
}
.text-3A {
  color: #3a3a3a;
}
.btn {
  background-color: #e02c6d;
  border-radius: 41px;
  border: none;
  padding: 10px 24px;
}
main > section {
  margin-bottom: 100px;
}
/* main styles */
/* header section */
header {
  margin-top: 50px;
}
.desktop-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
  list-style: none;
  gap: 34px;
}
.menu li a {
  text-decoration: none;
  color: #3a3a3a;
}
.menu li a img {
  width: 24px;
  height: 24px;
}

/* mobile nav bar */
.mobile-nav {
  display: none;
  justify-content: space-between;
}
.mobile-nav .nav-icon {
  width: 24px;
  height: 24px;
}

.mobile-menu {
  display: flex;
  list-style: none;
  gap: 34px;
}
.mobile-menu li a {
  text-decoration: none;
  color: #3a3a3a;
}
.mobile-nav-img img {
  width: 24px;
  height: 24px;
}

/* banner section */
#banner {
  margin-top: 50px;
}

.btn-banner {
  display: flex;
  align-items: center;
  gap: 8px;
}
.btn-banner span {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 582px;
}
.banner-content h2 {
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.banner-content p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 16px;
}
.banner-img img {
  width: 100%;
  background-image: url(/images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* all icon section */
.icon-container {
  padding: 36px 62px;
}
.icon-box {
  display: flex;
  gap: 60px;
  justify-content: center;
  border: 1px solid #d9dfe9;
  padding: 36px 62px;
}

/* card section */
.card-container {
  /* position: relative; */
}
.card-box {
  margin-bottom: 50px;
}
.card-box-heading {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.card-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  padding: 17px 15px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 40 0 #000000;
}
.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 16px;
}
.card h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.rating {
  font-size: 18px;
}

.star {
  display: flex;
  gap: 3px;
}
.star img {
  width: 16px;
  height: 16px;
}
.card p {
  color: #787885;
}
.card .world {
  margin-bottom: 5px;
}

.btn-see {
  position: relative;
}
.btn-card {
  background: none;
  position: absolute;
  right: 0;
  bottom: 0;
}
.btn-card span {
  color: #e02c6d;
  font-size: 1rem;
  font-weight: 700;
}
/* feature-container */

.feature-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}
.feature-img img {
  width: 100%;
  max-width: 404px;
}
.features-content {
  max-width: 610px;
}
.features-content h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.features-content p {
  font-size: 1.25rem;
  font-weight: 700;
  color: #6c6c6c;
  margin-bottom: 16px;
}
/* =====================
   Responsive Devices
===================== */

/* Large Desktop / Laptop */
@media screen and (max-width: 1200px) {
  .icon-box {
    gap: 27px;
    padding: 36px 0px;
  }
}
/* Large Laptop */
@media screen and (max-width: 1024px) {
  .icon-box {
    gap: 20px;
  }
}

/* Tablet (Landscape) */
@media screen and (max-width: 992px) {
  .banner-container {
    gap: 20px;
  }
  .banner-content {
    max-width: 400px;
  }
  .banner-content h2 {
    font-size: 2.5rem;
  }
  .icon-box {
    flex-wrap: wrap;
  }
}

/* Tablet / Mobile (Portrait) */
@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.25rem;
  }
  .menu {
    gap: 10px;
  }
  .menu li a {
    font-size: 0.75rem;
  }
  .menu li a img {
    width: 100%;
  }
  .card-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .card h2 {
    font-size: 1.5rem;
  }
  #features {
    padding-top: 20px;
  }
  .feature-container {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .features-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  main > section {
    margin-bottom: 30px;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .banner-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .banner-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header {
    margin-bottom: 40px;
  }
  .card-box {
    grid-template-columns: 1fr;
  }
  #features {
    padding-top: 50px;
  }
  .feature-container {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .features-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* Small Mobile (Very small devices) */
@media screen and (max-width: 350px) {
}
